@using SampleMvc.Models;
@model Test

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

@using (Html.BeginForm("Submit", "Test", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    @Html.TextBoxFor(m => m.Age, new { @class = "form-control" })
    @Html.CheckBoxFor(m => m.IsThere, new { @class = "form-control" })
     <input type="submit" class="btn btn-default" value="Register"  onclick="Submit()"/>
}